[Unit]
Description=Cloudflare WARP Mesh Connector
After=network-online.target warp-svc.service
Wants=network-online.target
Requires=warp-svc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/warp-cli --accept-tos connector new eyJhIjoiMGYzNjczOGUxNTVkOTYwZDRmNGQ1NWYyMDRiNWI0OGUiLCJ0IjoiM2Q1NzViMTQtYjAyMS00YWQxLWI4YzYtMDU4Y2U2MmQ0YzFlIiwicyI6InVOT3Q0TitCZlNoOVhvMkx0cVRsRERwVVl3SWtDYysyYlRoVHp6QytkMFE9In0=
ExecStart=/usr/bin/warp-cli --accept-tos connect

[Install]
WantedBy=multi-user.target
